#sanpham {
    display: flex;
    font-size: 11px;
    color: gray;
    line-height: 11px;
}

#div-title {
    line-height: 25px;
    font-size: 22px;
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

#page-number {
    list-style: none;
    display: flex;
    justify-content: center;
}