#space-product {
    padding: 0 40px;
    width: 80%;
}

#list-product {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 40px 20px;
    padding: 0 0 10px 0;
    list-style: none;
}

#list-product img {
    width: 100%;
}

.product-content {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid gray;
    margin: -4px 10px 0 10px;
}

.product-content:hover {
    border-top: none;
    background-color: lightpink;
    color: white;
}

.product-item {
    cursor: pointer;
    border: 1px solid gray;
    padding: 0 0 10px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    /* transition: 0.7s; */
}

.cost {
    font-size: 10px;
    color: black;
    position: relative;
    margin-right: 20px;
}

.price-sell {
    color: red;
    height: 20px;
}

.content-price {
    display: flex;
    column-gap: 20%;
}

#onclick-product {
    position: relative;
    background-color: white;
    padding: 10px 30px;
    display: none;
    height: 500px;
    border-radius: 20px;
    width: 800px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#tagdivProduct {
    display: grid;
    grid-template-columns: 430px 1fr;
}

.addtocart {
    border: 1px solid gray;
    padding: 15px 20px;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addtocart:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.color {
    display: none;
}

@media screen and (max-width: 1000px) {
    #list-product {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 750px) {
    #list-product {
        grid-template-columns: 1fr 1fr;
    }
}